{% extends 'base.html' %}
{% load static %}
{% block title %}change Password{% endblock %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Montserrat;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 500px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: blue;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form-group input[type="submit"] {
        background-color: #57b846;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .form-group input[type="submit"]:hover {
        background-color: #333;
    }

    .error {
        color: red;
        font-size: 13px;
        margin-top: 5px;
    }

    .text-center {
        text-align: center;
        margin-top: 20px;
    }

    .text-center a {
        color: blue;
        text-decoration: none;
    }

    .text-center a:hover {
        color: #57b846;
    }
</style>


<body>
<div class="mx-auto col-sm-10">
    <h4 id="snackbar_error"></h4>
</div>
<div class="mx-auto col-sm-10">
    <h4 id="snackbar"></h4>
</div>
<div class="container">
    <div class="text-center" data-tilte>
        <img src="{% static 'images/changpass1.png' %}" alt="IMG" style="width: 150px;">
    </div>
    <h1>Change Password</h1>
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <script>
                   var snackbar = document.getElementById("snackbar_error");
                   snackbar.className = "show";
                   snackbar.textContent = '{{ message }}'
                   setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
                </script>
            {% else %}
                <script>
                    var snackbar2 = document.getElementById("snackbar");
                    snackbar2.className = "show";
                    snackbar2.textContent = '{{ message }}'
                    setTimeout(function(){ snackbar2.className = snackbar2.className.replace("show", ""); }, 5000);
                </script>
            {% endif %}
        {% endfor %}
        {% endif %}

    <form method="POST" action="/login/changePassword/" id="signupForm">
        {% csrf_token %}
        <input type="hidden" name="forgetPassword" value="{{ forgetPassword }}">

        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" placeholder="New Password" minlength="8" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" minlength="8" required>
        </div>

        <div class="form-group">
        <button type="button" id="submitButton" class="form-control btn submit px-3" style="background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);">
           Change Password
        </button>
        </div>
    </form>
</div>

<script>
    var passwordField = document.getElementById('password');
    var confirmPasswordField = document.getElementById('confirmPassword');
    var submitButton = document.getElementById("submitButton");
    var snackbar = document.getElementById("snackbar_error");


    document.getElementById('submitButton').addEventListener('click', function() {

        var minLength_password = parseInt(passwordField.getAttribute('minlength'));
        var passwordValue = passwordField.value.trim();

        var minLength_confirmPassword = parseInt(confirmPasswordField.getAttribute('minlength'));
        var confirmPasswordValue = confirmPasswordField.value.trim();

        if (passwordValue.length < minLength_password) {
            event.preventDefault(); // Prevent form submission
            snackbar.className = "show";
            snackbar.textContent = 'Password must be at least ' + minLength_password + ' characters long.';
            setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
        } else if (confirmPasswordValue.length < minLength_confirmPassword) {
            event.preventDefault(); // Prevent form submission
            snackbar.className = "show";
            snackbar.textContent = 'Password must be at least ' + minLength_confirmPassword + ' characters long.';
            setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
        } else if (confirmPasswordValue !== passwordValue) {
            event.preventDefault(); // Prevent form submission
            snackbar.className = "show";
            snackbar.textContent = 'Password and Confirm Password must match.';
            setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
        } else {
            submitButton.disabled = true;
            submitButton.textContent = "Changing Password...";
            document.getElementById('signupForm').submit();
        }
    });
</script>
</body>

{% endblock %}
