{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<style>
    .ftco-section {
        padding: 7em 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .login-wrap {
        position: relative;
        color: rgba(255, 255, 255, 0.9);
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group {
        position: relative;
    }

    .img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .form-control {
        background: transparent;
        border: none;
        height: 50px;
        color: white !important;
        border: 1px solid transparent;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.8) !important;
    }

    .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.8) !important;
    }

    .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.8) !important;
    }

    .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.8) !important;
    }

    .form-control:hover,
    .form-control:focus {
        background: transparent;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: rgba(255, 255, 255, 0.4);
    }

    .form-control:focus {
        border-color: rgba(255, 255, 255, 0.4);
    }

    button:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
    }

    button::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

    .field-icon {
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.9);
    }

    .rounded {
        border-radius: 0.25rem !important;
    }

    .login-wrap {
        position: relative;
        color: rgba(255, 255, 255, 0.9);
    }
    .login-wrap .social {
        width: 100%;
    }

    .login-wrap .social a {
        text-decoration:none;
        width: 100%;
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: #000;
        background: #fff;
    }

    .login-wrap .social a:hover {
        background: #000;
        color: #fff;
        border-color: #000;
    }
</style>

<body class="img js-fullheight" style="background-image: url(../../static/images/bg.jpg);">
<div class="mx-auto col-sm-10">
    <h4 id="snackbar_error"></h4>
</div>
<div class="mx-auto col-sm-10">
    <h4 id="snackbar"></h4>
</div>
    <section class="ftco-section h-100">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
					<h1 class="text-white">Jet Prince</h1>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <script>
                                var snackbar = document.getElementById("snackbar_error");
                                snackbar.className = "show";
                                snackbar.textContent = '{{ message }}'
                                setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
                                </script>
                            {% else %}
                                <script>
                                    var snackbar2 = document.getElementById("snackbar");
                                    snackbar2.className = "show";
                                    snackbar2.textContent = '{{ message }}'
                                    setTimeout(function(){ snackbar2.className = snackbar2.className.replace("show", ""); }, 5000);
                                </script>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Recover Your Password!</h3>
                        <form method="POST" action="/login/forgetpassword/" id="loginForm">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" id="email" placeholder="Enter Email" required>
                            </div>

                            <div class="form-group">
                                <input class="form-control no-arrow" type="number" name="phone"  maxlength="10" minlength="10"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                id="phone" placeholder="Enter your phone number" required>

                            </div>
                            <div class="form-group">
                                <button type="button" value="Submit" class="form-control btn btn-primary submit px-3" id="submitButton">Submit</button>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Or &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="/login/" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
                                Sign <Input:button></Input:button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var submitButton = document.getElementById("submitButton");
        var phone = document.getElementById('phone');
        var minLength_phone = parseInt(phone.getAttribute('minlength'));
        var snackbar = document.getElementById("snackbar_error");


        document.getElementById('submitButton').addEventListener('click', function() {
            var phoneValue = phone.value.trim();

            if (phoneValue.length < minLength_phone) {
                event.preventDefault(); // Prevent form submission
                snackbar.className = "show";
                snackbar.textContent = 'Phone number must be at least ' + minLength_phone + ' digit long.';
                setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
            } else if (phoneValue[0] === '0') {
                event.preventDefault(); // Prevent form submission
                snackbar.className = "show";
                snackbar.textContent = 'Phone number first number cannot be 0'
                setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 5000);
            } else {
                submitButton.disabled = true;
                submitButton.textContent = "Submitting ...";
                document.getElementById('loginForm').submit();
            }
        });
    </script>
</body>

{% endblock %}
